/.vscode
/a.exe
shyam.c
shyamragged.c
shyam.exe
shyamragged.exe
print.c
print.exe
lab2.c
lab2.exe
lab3.c
/lab3.exe
dsalab5_q1.c
dsalab5_q2.c
/dsalab5_q1.exe
/dsalab5_q2.exe
week4.c
week4.exe
q2prac.c
q2prac.exe
withoutheadernode.c
type_def.c
/type_def.exe
structure.c
/structure.exe